[submodule "themes/nostyleplease"]
	path = themes/nostyleplease
	url = https://github.com/hanwenguo/hugo-theme-nostyleplease
[submodule "themes/hugo-theme-terminal"]
	path = themes/hugo-theme-terminal
	url = https://github.com/panr/hugo-theme-terminal
