html {
  overflow-y: scroll;
}

body {
  background-color: #e1e2e7;
  max-width:50em;
  color: #00000B;
  font:1.2em/1.62 sans-serif;
  padding:0 .62em 3.24em;
  margin: 1em auto;
}

pre, code {
  margin: 0;
}

a {
  color: #005386;
}

ul {
	list-style-type: disc;
}

#header a {
  text-decoration: none;
}

#headerLink {
  color: #17a;
  margin-left: 5px;
}

h1 {
  margin: 1em 1ex 0.5ex 0;
  font-size: 1.4em;
}

h2 {
  margin: 1em 1ex 0.5ex 0;
  font-size: 1.3em;
}

h3 {
  margin: 1em 1ex 0.5ex 0;
  font-size: 1.0em;
}

h4 {
  margin: 1em 1ex 0.5ex 0;
  font-size: 0.9em;
}

#headerSubtitle {
  font-size: 0.75em;
  font-style: italic;
  margin-left: 1em;
}

#content {
  clear: both;
  margin: 0;
  padding: 0;
}

#main {
  margin: 0 0 0 200px;
  max-width: 50em;
  padding: 1.5em;
}

.left {
  float: left;
  margin: 0;
  padding: 0;
}

.right {
  float: right;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #24283b;
      color: #c0caf5;
    }
    #header {
      background-color: #111;
    }
    blockquote, pre, code {
      background-color: #000000;
    }
    a {
      color: #56c8ff;
    }
    #main img[src$=svg] {
      filter: invert(1);
    }
  }
